/*start navbar*/
.bg-light {
  background-color: transparent !important;
  padding-top: 20px;
  padding-left: 40px;
  &.white {
    background-color: #fff !important;
  }
}
.navbar-light .navbar-brand {
  img {
    width: 120px;
    &.dark {
      display: none;
    }
  }
}
.navbar-light .navbar-nav .nav-item:focus,
.navbar-light .navbar-nav .nav-item:hover {
  color: $mainColor;
}
.navbar-light .navbar-nav .nav-item {
  margin-right: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: capitalize;
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  &.active {
    border-bottom: 2px solid $mainColor;
    padding-bottom: 7px;
    color: $mainColor;
  }
}
/*end navbar*/
